<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <p>"Забыли пароль? Напишите свою эл почту сюда, и мы вам отправим инструкции как восстановить пароль."</p>

        <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email">
                {{ form.email.errors }}
                <label for="id_email">Эл почта:</label>
                {{ form.email }}
            </div>
            <input type="submit" value="Reset my password" />
        </fieldset>
        </form>
    </div>
</body>
</html>